# Django project
*.pyc
*.pyo
__pycache__/
db.sqlite3
*.sqlite3

# Local development
venv/
env/

# Static files (CSS, JavaScript, images)
staticfiles/
*.staticstorage/

# Media files (user-uploaded content)
media/

# IDE-specific files
.vscode/
.idea/
*.sublime-*
*.swp
